@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

/* GERAL ---------------------------------------------*/
:root{
    --roxo: #892EEB;
    --verde: #2FEB6A;

    --f-padrao: Arial, Verdana, Helvetica, sans-serif;
    --f-destaque: "Bebas Neue", sans-serif;
    --f-logo: "Sedgwick Ave Display";
}

*{
    margin: 0px;
    border: 0px; 
    z-index: 0;
    font-family: var(--f-padrao);
}

h1, h2, h3, h4{
    font-family: var(--f-destaque);
}

/* CABEÇALHO --------------------------------------------- */
#cabecalho{
    position: fixed;
    transition: 0.5s ease-in-out;
    z-index: 100;
}

#rodape{
    position: relative;
}